In [4]:
import ibm_db
dsn=("DATABASE=BLUDB;HOSTNAME=dashdb-txn-sbox-yp-lon02-02.services.eu-gb.bluemix.net;PORT=50000;PROTOCOL=TCPIP;UID=jhn50132;PWD=x^7xzmg94l0dc6wc;")
conn=ibm_db.connect(dsn,"","")
print("connected")
stmt=ibm_db.exec_immediate(conn,
                          "select * from dog")
ibm_db.fetch_both(stmt)

connected

{'id': 1,
 0: 1,
 'name_of_the_dogs': 'wolfie',
 1: 'wolfie',
 'breed': 'german shephered',
 2: 'german shephered'}

In [37]:
import pandas
import ibm_db_dbi
pconn=ibm_db_dbi.Connection(conn)
pstmt=pandas.read_sql("select * from dog",pconn)
pstmt

   id name_of_the_dogs             breed
0   1           wolfie  german shephered
1   2           fluffy        pomeranian
2   3            huggy          labrador

In [59]:
pstmt=pandas.read_sql(
                     " select * from dog limit 1 ",pconn)
pstmt

   id name_of_the_dogs             breed
0   1           wolfie  german shephered

In [79]:
pstmt=pandas.read_sql(
                     ' select "id" from dog where "breed" = \'german shephered\' ',pconn)
pstmt

   id
0   1

In [108]:
pstmt=pandas.read_sql(
                     ' select Name from student where Grade = \'A\'',pconn)
pstmt

    NAME
0   asif
1   asif
2  umair

In [109]:
pstmt=pandas.read_sql(
                     ' select * from syscat.tables',pconn)
pstmt

,TABSCHEMA,TABNAME,OWNER,OWNERTYPE,TYPE,STATUS,BASE_TABSCHEMA,BASE_TABNAME,ROWTYPESCHEMA,ROWTYPENAME,...,ONCOMMIT,LOGGED,ONROLLBACK,LASTUSED,CONTROL,TEMPORALTYPE,TABLEORG,EXTENDED_ROW_SIZE,PCTEXTENDEDROWS,REMARKS
0,SYSIBM,SYSTABLES,SYSIBM,S,T,N,None,None,None,None,...,,,,2020-04-02,R,N,R,N,-1.0,None
1,SYSIBM,SYSCOLUMNS,SYSIBM,S,T,N,None,None,None,None,...,,,,2020-04-02,R,N,R,N,-1.0,None
2,SYSIBM,SYSINDEXES,SYSIBM,S,T,N,None,None,None,None,...,,,,2020-04-02,R,N,R,N,-1.0,None
3,SYSIBM,SYSVIEWS,SYSIBM,S,T,N,None,None,None,None,...,,,,2020-04-02,R,N,R,N,-1.0,None
4,SYSIBM,SYSVIEWDEP,SYSIBM,S,T,N,None,None,None,None,...,,,,2020-04-02,R,N,R,N,-1.0,None
5,SYSIBM,SYSPLAN,SYSIBM,S,T,N,None,None,None,None,...,,,,2020-04-02,R,N,R,N,-1.0,None
6,SYSIBM,SYSPLANDEP,SYSIBM,S,T,N,None,None,None,None,...,,,,2020-04-02,R,N,R,N,-1.0,None
7,SYSIBM,SYSSECTION,SYSIBM,S,T,N,None,None,None,None,...,,,,2020-03-29,R,N,R,N,-1.0,None
8,SYSIBM,SYSSTMT,SYSIBM,S,T,N,None,None,None,None,...,,,,2020-03-29,R,N,R,N,-1.0,None
9,SYSIBM,SYSDBAUTH,SYSIBM,S,T,N,None,None,None,None,...,,,,2020-04-02,R,N,R,N,-1.0,None
10,SYSIBM,SYSPLANAUTH,SYSIBM,S,T,N,None,None,None,None,...,,,,2020-04-02,R,N,R,N,-1.0,None
11,SYSIBM,SYSTABAUTH,SYSIBM,S,T,N,None,None,None,None,...,,,,2020-04-02,R,N,R,N,-1.0,None
12,SYSIBM,SYSINDEXAUTH,SYSIBM,S,T,N,None,None,None,None,...,,,,2020-04-02,R,N,R,N,-1.0,None
13,SYSIBM,SYSRELS,SYSIBM,S,T,N,None,None,None,None,...,,,,2020-04-02,R,N,R,N,-1.0,None
14,SYSIBM,SYSROUTINES,SYSIBM,S,T,N,None,None,None,None,...,,,,2020-04-02,R,N,R,N,-1.0,None
15,SYSIBM,SYSROUTINEPARMS,SYSIBM,S,T,N,None,None,None,None,...,,,,2020-04-02,R,N,R,N,-1.0,None
16,SYSIBM,SYSTABCONST,SYSIBM,S,T,N,None,None,None,None,...,,,,2020-04-02,R,N,R,N,-1.0,None
17,SYSIBM,SYSKEYCOLUSE,SYSIBM,S,T,N,None,None,None,None,...,,,,2020-04-02,R,N,R,N,-1.0,None
18,SYSIBM,SYSCHECKS,SYSIBM,S,T,N,None,None,None,None,...,,,,2020-04-02,R,N,R,N,-1.0,None
19,SYSIBM,SYSCOLCHECKS,SYSIBM,S,T,N,None,None,None,None,...,,,,2020-04-01,R,N,R,N,-1.0,None
20,SYSIBM,SYSDATATYPES,SYSIBM,S,T,N,None,None,None,None,...,,,,2020-04-02,R,N,R,N,-1.0,None
21,SYSIBM,SYSCONSTDEP,SYSIBM,S,T,N,None,None,None,None,...,,,,2020-04-02,R,N,R,N,-1.0,None
22,SYSIBM,SYSCOLDIST,SYSIBM,S,T,N,None,None,None,None,...,,,,2020-04-02,R,N,R,N,-1.0,None
23,SYSIBM,SYSEVENTMONITORS,SYSIBM,S,T,N,None,None,None,None,...,,,,2020-04-02,R,N,R,N,-1.0,None
24,SYSIBM,SYSEVENTS,SYSIBM,S,T,N,None,None,None,None,...,,,,2020-03-23,R,N,R,N,-1.0,None
25,SYSIBM,SYSTABLESPACES,SYSIBM,S,T,N,None,None,None,None,...,,,,2020-04-02,R,N,R,N,-1.0,None
26,SYSIBM,SYSDEPENDENCIES,SYSIBM,S,T,N,None,None,None,None,...,,,,2020-04-02,R,N,R,N,-1.0,None
27,SYSIBM,SYSTRIGGERS,SYSIBM,S,T,N,None,None,None,None,...,,,,2020-04-02,R,N,R,N,-1.0,None
28,SYSIBM,SYSCOLAUTH,SYSIBM,S,T,N,None,None,None,None,...,,,,2020-04-02,R,N,R,N,-1.0,None
29,SYSIBM,SYSSCHEMAAUTH,SYSIBM,S,T,N,None,None,None,None,...,,,,2020-04-02,R,N,R,N,-1.0,None
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
434,SYSCAT,XDBMAPGRAPHS,SYSIBM,S,V,N,None,None,None,None,...,,,,0001-01-01,,N,N,,-1.0,None
435,SYSCAT,XDBMAPSHREDTREES,SYSIBM,S,V,N,None,None,None,None,...,,,,0001-01-01,,N,N,,-1.0,None
436,SYSCAT,XMLSTRINGS,SYSIBM,S,V,N,None,None,None,None,...,,,,0001-01-01,,N,N,,-1.0,None
437,SYSCAT,XSROBJECTAUTH,SYSIBM,S,V,N,None,None,None,None,...,,,,0001-01-01,,N,N,,-1.0,None
438,SYSCAT,XSROBJECTCOMPONENTS,SYSIBM,S,V,N,None,None,None,None,...,,,,0001-01-01,,N,N,,-1.0,None
439,SYSCAT,XSROBJECTDEP,SYSIBM,S,V,N,None,None,None,None,...,,,,0001-01-01,,N,N,,-1.0,None
440,SYSCAT,XSROBJECTDETAILS,SYSIBM,S,V,N,None,None,None,None,...,,,,0001-01-01,,N,N,,-1.0,None
441,SYSCAT,XSROBJECTHIERARCHIES,SYSIBM,S,V,N,None,None,None,None,...,,,,0001-01-01,,N,N,,-1.0,None
442,SYSCAT,XSROBJECTS,SYSIBM,S,V,N,None,None,None,None,...,,,,0001-01-01,,N,N,,-1.0,None
443,SYSCAT,MEMBERSUBSETS,SYSIBM,S,V,N,None,None,None,None,...,,,,0001-01-01,,N,N,,-1.0,None
444,SYSCAT,MEMBERSUBSETATTRS,SYSIBM,S,V,N,None,None,None,None,...,,,,0001-01-01,,N,N,,-1.0,None
445,SYSCAT,MEMBERSUBSETMEMBERS,SYSIBM,S,V,N,None,None,None,None,...,,,,0001-01-01,,N,N,,-1.0,None
446,SYSSTAT,COLDIST,SYSIBM,S,V,N,None,None,None,None,...,,,,0001-01-01,,N,N,,-1.0,None
447,SYSSTAT,COLGROUPDIST,SYSIBM,S,V,N,None,None,None,None,...,,,,0001-01-01,,N,N,,-1.0,None
448,SYSSTAT,COLGROUPDISTCOUNTS,SYSIBM,S,V,N,None,None,None,None,...,,,,0001-01-01,,N,N,,-1.0,None
449,SYSSTAT,COLGROUPS,SYSIBM,S,V,N,None,None,None,None,...,,,,0001-01-01,,N,N,,-1.0,None
450,SYSSTAT,COLUMNS,SYSIBM,S,V,N,None,None,None,None,...,,,,0001-01-01,,N,N,,-1.0,None
451,SYSSTAT,FUNCTIONS,SYSIBM,S,V,N,None,None,None,None,...,,,,0001-01-01,,N,N,,-1.0,None
452,SYSSTAT,INDEXES,SYSIBM,S,V,N,None,None,None,None,...,,,,0001-01-01,,N,N,,-1.0,None
453,SYSSTAT,ROUTINES,SYSIBM,S,V,N,None,None,None,None,...,,,,0001-01-01,,N,N,,-1.0,None
454,SYSSTAT,TABLES,SYSIBM,S,V,N,None,None,None,None,...,,,,0001-01-01,,N,N,,-1.0,None
455,JHN50132,RECIPES,JHN50132,U,T,N,None,None,None,None,...,,,,0001-01-01,,N,R,N,-1.0,None
456,JHN50132,TEST,JHN50132,U,T,N,None,None,None,None,...,,,,0001-01-01,,N,R,N,-1.0,None
457,JHN50132,COUNTRY,JHN50132,U,T,N,None,None,None,None,...,,,,2020-04-01,,N,R,N,-1.0,None
458,JHN50132,STUDENT,JHN50132,U,T,N,None,None,None,None,...,,,,2020-04-03,,N,R,N,-1.0,None
459,JHN50132,DEPARTEMENT,JHN50132,U,T,N,None,None,None,None,...,,,,2020-04-02,,N,R,N,-1.0,None
460,JHN50132,TEACHER,JHN50132,U,T,N,None,None,None,None,...,,,,0001-01-01,,N,R,N,-1.0,None
461,JHN50132,PERSON,JHN50132,U,T,N,None,None,None,None,...,,,,2020-04-02,,N,R,N,-1.0,None
462,SYSTOOLS,MESSAGES,DB2INST1,U,T,N,None,None,None,None,...,,,,0001-01-01,,N,R,N,-1.0,None
463,JHN50132,DOG,JHN50132,U,T,N,None,None,None,None,...,,,,2020-04-03,,N,R,N,-1.0,None

In [124]:
pstmt=pandas.read_sql(
                     ' select tabschema,tabname,create_time from syscat.tables where tabschema = \'JHN50132\'',pconn)
pstmt

  TABSCHEMA      TABNAME                CREATE_TIME
0  JHN50132      RECIPES 2020-04-01 08:22:15.267298
1  JHN50132         TEST 2020-04-01 05:12:18.260490
2  JHN50132      COUNTRY 2020-04-01 05:15:19.691664
3  JHN50132      STUDENT 2020-04-01 13:24:28.587882
4  JHN50132  DEPARTEMENT 2020-04-02 05:33:56.398462
5  JHN50132      TEACHER 2020-04-02 05:38:51.677695
6  JHN50132       PERSON 2020-04-02 14:34:24.222972
7  JHN50132          DOG 2020-04-03 04:06:51.143080

In [125]:
pstmt=pandas.read_sql(
                     ' select * from syscat.columns where tabschema = \'JHN50132\'',pconn)
pstmt

,TABSCHEMA,TABNAME,COLNAME,COLNO,TYPESCHEMA,TYPENAME,LENGTH,SCALE,TYPESTRINGUNITS,STRINGUNITSLENGTH,...,SECLABELNAME,ROWBEGIN,ROWEND,TRANSACTIONSTARTID,PCTENCODED,AVGENCODEDCOLLEN,QUALIFIER,FUNC_PATH,RANDDISTKEY,REMARKS
0,JHN50132,TEST,ID,0,SYSIBM,INTEGER,4,0,None,NaN,...,None,N,N,N,-1,-1.0,None,None,N,None
1,JHN50132,TEST,NAME,1,SYSIBM,VARCHAR,30,0,OCTETS,30.0,...,None,N,N,N,-1,-1.0,None,None,N,None
2,JHN50132,COUNTRY,ID,0,SYSIBM,INTEGER,4,0,None,NaN,...,None,N,N,N,-1,-1.0,None,None,N,None
3,JHN50132,COUNTRY,CCODE,1,SYSIBM,CHARACTER,2,0,OCTETS,2.0,...,None,N,N,N,-1,-1.0,None,None,N,None
4,JHN50132,COUNTRY,NAME,2,SYSIBM,VARCHAR,60,0,OCTETS,60.0,...,None,N,N,N,-1,-1.0,None,None,N,None
5,JHN50132,DEPARTEMENT,NAME,0,SYSIBM,VARCHAR,19,0,OCTETS,19.0,...,None,N,N,N,-1,-1.0,None,None,N,None
6,JHN50132,DEPARTEMENT,SALARY,1,SYSIBM,INTEGER,4,0,None,NaN,...,None,N,N,N,-1,-1.0,None,None,N,None
7,JHN50132,DEPARTEMENT,ID,2,SYSIBM,INTEGER,4,0,None,NaN,...,None,N,N,N,-1,-1.0,None,None,N,None
8,JHN50132,TEACHER,NAME,0,SYSIBM,VARCHAR,19,0,OCTETS,19.0,...,None,N,N,N,-1,-1.0,None,None,N,None
9,JHN50132,TEACHER,GRADE,1,SYSIBM,VARCHAR,10,0,OCTETS,10.0,...,None,N,N,N,-1,-1.0,None,None,N,None
10,JHN50132,TEACHER,SALARY,2,SYSIBM,INTEGER,4,0,None,NaN,...,None,N,N,N,-1,-1.0,None,None,N,None
11,JHN50132,TEACHER,ID,3,SYSIBM,INTEGER,4,0,None,NaN,...,None,N,N,N,-1,-1.0,None,None,N,None
12,JHN50132,RECIPES,RECIPE_ID,0,SYSIBM,INTEGER,4,0,None,NaN,...,None,N,N,N,-1,-1.0,None,None,N,None
13,JHN50132,RECIPES,RECIPE_NAME,1,SYSIBM,VARCHAR,30,0,OCTETS,30.0,...,None,N,N,N,-1,-1.0,None,None,N,None
14,JHN50132,RECIPES,NEW_COLUMN1,2,SYSIBM,CHARACTER,5,0,OCTETS,5.0,...,None,N,N,N,-1,-1.0,None,None,N,None
15,JHN50132,STUDENT,NAME,0,SYSIBM,VARCHAR,10,0,OCTETS,10.0,...,None,N,N,N,-1,-1.0,None,None,N,None
16,JHN50132,STUDENT,COLLEGE,1,SYSIBM,VARCHAR,15,0,OCTETS,15.0,...,None,N,N,N,-1,-1.0,None,None,N,None
17,JHN50132,STUDENT,GRADE,2,SYSIBM,VARCHAR,10,0,OCTETS,10.0,...,None,N,N,N,-1,-1.0,None,None,N,None
18,JHN50132,STUDENT,PERCENTAGE,3,SYSIBM,INTEGER,4,0,None,NaN,...,None,N,N,N,-1,-1.0,None,None,N,None
19,JHN50132,PERSON,PERSONID,0,SYSIBM,INTEGER,4,0,None,NaN,...,None,N,N,N,-1,-1.0,None,None,N,None
20,JHN50132,PERSON,LASTNAME,1,SYSIBM,VARCHAR,255,0,OCTETS,255.0,...,None,N,N,N,-1,-1.0,None,None,N,None
21,JHN50132,PERSON,FIRSTNAME,2,SYSIBM,VARCHAR,255,0,OCTETS,255.0,...,None,N,N,N,-1,-1.0,None,None,N,None
22,JHN50132,PERSON,ADDRESS,3,SYSIBM,VARCHAR,255,0,OCTETS,255.0,...,None,N,N,N,-1,-1.0,None,None,N,None
23,JHN50132,PERSON,CITY,4,SYSIBM,VARCHAR,255,0,OCTETS,255.0,...,None,N,N,N,-1,-1.0,None,None,N,None
24,JHN50132,DOG,id,0,SYSIBM,SMALLINT,2,0,None,NaN,...,None,N,N,N,-1,-1.0,None,None,N,None
25,JHN50132,DOG,name_of_the_dogs,1,SYSIBM,VARCHAR,6,0,OCTETS,6.0,...,None,N,N,N,-1,-1.0,None,None,N,None
26,JHN50132,DOG,breed,2,SYSIBM,VARCHAR,16,0,OCTETS,16.0,...,None,N,N,N,-1,-1.0,None,None,N,None

In [152]:
# to obtain specific column properties
pstmt=pandas.read_sql(
                     ' select distinct(name),coltype,length from sysibm.syscolumns where tbname= \'student\'',pconn)
pstmt

Empty DataFrame
Columns: [NAME, COLTYPE, LENGTH]
Index: []

UsageError: Line magic function `%sql` not found.

In [44]:

pstmt=pandas.read_sql(
                    'select PRIMARY_TYPE,LOCATION_DESCRIPTION    from crimes where  = \'GAS_STATION\'',pconn)
pstmt

DatabaseError: Execution failed on sql 'select PRIMARY_TYPE,LOCATION_DESCRIPTION    from crimes where LOCATION_DESCRIPTION = 'GAS_STATION'': ibm_db_dbi::ProgrammingError: SQLNumResultCols failed: [IBM][CLI Driver][DB2/LINUXX8664] SQL0206N  "LOCATION_DESCRIPTION" is not valid in the context where it is used.  SQLSTATE=42703 SQLCODE=-206